
.navItem {
  margin-right: 40px;
  color: #fff !important;

}
.navItem:last-child{
  margin-right: 0;
}
.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  width: 90%;
}
.branding {
  /* text-align: center; */
  text-align: left;
  position: absolute;
  left: 10px;
  width: 800px;
  /* padding: 10px; */
  color: rgb(161, 225, 161);
}
  
.branding h1 {
  font-size: 5em;
  margin-top: 200px;
  margin-bottom: 0%;
}

.branding p {
  /* margin-top: 10px; */
  font-size: 2em;
}
